---
import { BoardEditorForm } from "~/components/page-components/board/editor-form";
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout>
  <div>
    <div>Hello</div>
    <BoardEditorForm client:only="solid-js" />
  </div>
</BaseLayout>
